In [1]:
i=1
while i<=5:
    print("python")
    i+=1

python
python
python
python
python

In [3]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [4]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [5]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

#                        # while loop

In [16]:
i=1
while i<=5:
    print( "Vikas"  ,  end = "\t")
    i+=1
    j=1
    while j<=4:
        print("Kale"  ,  end="\t")
        j+=1

Vikas	Kale	Kale	Kale	Kale	Vikas	Kale	Kale	Kale	Kale	Vikas	Kale	Kale	Kale	Kale	Vikas	Kale	Kale	Kale	Kale	Vikas	Kale	Kale	Kale	Kale

In [20]:
for i in range(1,6):
   
    if i==4:continue
    print(i)

1
2
3
5

In [3]:
i=1
while i <=5:
    print("my_course",i)
    i=i+1
else:
    print("done")

my_course 1
my_course 2
my_course 3
my_course 4
my_course 5
done

In [4]:
i=10
while i>=5:
    print("python",i)
    i=i-1
else:
    print("Django")

python 10
python 9
python 8
python 7
python 6
python 5
Django

In [ ]:
practice from starting
1]print
2]dir
3]isinstance
4]help
5]ord  chr


1]int
2]float
3]bool
4]str---->strip()...return a copy of string
5]list--->[]
6]tuple--->()
7]dict--->{"keys":"values"}
8]set---->set()  or {}


>>>for replacing character use .replace function.

In [25]:
help(str.strip)

Help on method_descriptor:

strip(self, chars=None, /)
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [30]:
num="Vikas"

In [31]:
num.strip()

'Vikas'

In [33]:
num.replace("Vikas","Raje")

'Raje'

In [34]:
num

'Vikas'

In [37]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [38]:
type(age)

int

In [39]:
type(txt)

str

In [4]:
i=5
while i<=5:
    print("vikas")
    i+=1
    
else:
    print("done")

vikas
done

In [1]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [2]:
capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle',"\n", 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

SyntaxError: invalid syntax (<ipython-input-2-526e5a5acb38>, line 1)

In [3]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [6]:
i="vikas"
i.capitalize()

'Vikas'

In [7]:
r="raje"
r.capitalize()

'Raje'

In [8]:
help(str.casefold)

Help on method_descriptor:

casefold(self, /)
    Return a version of the string suitable for caseless comparisons.

In [9]:
r

'raje'

In [10]:
r.casefold()

'raje'

In [12]:
r=("RAJE")
r.casefold()

'raje'

In [24]:
I="SHREE"
I.casefold()

'shree'

In [14]:
help(str.center)

Help on method_descriptor:

center(self, width, fillchar=' ', /)
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [30]:
I.center(90,".")

'..........................................SHREE...........................................'

In [31]:
help(str.count)

Help on method_descriptor:

count(...)
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [33]:
I.count("E")

2

In [34]:
help(str.encode)

Help on method_descriptor:

encode(self, /, encoding='utf-8', errors='strict')
    Encode the string using the codec registered for encoding.

    encoding
      The encoding in which to encode the string.
    errors
      The error handling scheme to use for encoding errors.
      The default is 'strict' meaning that encoding errors raise a
      UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
      'xmlcharrefreplace' as well as any other name registered with
      codecs.register_error that can handle UnicodeEncodeErrors.

In [35]:
I.encode()

b'SHREE'

In [36]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [38]:
help(str.endswith)

Help on method_descriptor:

endswith(...)
    S.endswith(suffix[, start[, end]]) -> bool

    Return True if S ends with the specified suffix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    suffix can also be a tuple of strings to try.

In [39]:
I

'SHREE'

In [42]:
I.endswith(".")

False

In [5]:
r="John."
r.endswith(".")

True

In [1]:
for c in range(97,123):
    print(c)

97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122

# how to print a to z

In [2]:
for c in range(97,123):
    print(chr(c))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

# how to print A to Z

In [5]:
for i in range(65,91):
    print(chr(i),end="\t")

A	B	C	D	E	F	G	H	I	J	K	L	M	N	O	P	Q	R	S	T	U	V	W	X	Y	Z

# print 0 to 9 using chr:

In [10]:
for i in range(48,58):
    print(chr(i))

0
1
2
3
4
5
6
7
8
9

# print table using while loop

In [11]:
num=int(input("Enter a number : "))
i=1
while i<11:
    print(num*i)
    i=i+1

Enter a number : 8
8
16
24
32
40
48
56
64
72
80

In [15]:
number=int(input("Enter a number : "))
i=1
while i<11:
    print(number*i)
    i=i+1

Enter a number : 5
5
10
15
20
25
30
35
40
45
50

# print table from 2 to 10 using while loop

In [17]:
i=1
while i<11:
    j=1
    while j<11:
        print(i*j,end="\t")
        j=j+1
    print()
    i=i+1

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

# print table from 11 to 20 using while loop

In [25]:
i=1
while i<11:
    j=11
    while j<21:
        print(i*j,end="\t")
        j=j+1
    print("")
    i=i+1

11	12	13	14	15	16	17	18	19	20
22	24	26	28	30	32	34	36	38	40
33	36	39	42	45	48	51	54	57	60
44	48	52	56	60	64	68	72	76	80
55	60	65	70	75	80	85	90	95	100
66	72	78	84	90	96	102	108	114	120
77	84	91	98	105	112	119	126	133	140
88	96	104	112	120	128	136	144	152	160
99	108	117	126	135	144	153	162	171	180
110	120	130	140	150	160	170	180	190	200

In [26]:
days=["monday",'tuesday','wednesday','thursday','friday','saturday','sunday']
for i in days:
    print(i)
    if i=="friday":
        break

monday
tuesday
wednesday
thursday
friday

# conditional statement

In [27]:
if 20==20:
    print("equal")
else:
    print("not equal")

equal

In [28]:
if 10!=10:
    print("equal")
else:
    print("not equal")

not equal

In [29]:
i=10
j=15
if i>j:
    print("10 is greater than 15")
else:
    print("10 is less than 15")

10 is less than 15

# how to find number is even or odd

In [30]:
num=int(input("Enter a number : "))
if num%2==0:
    print("number is even",num)
else:
    print("number is odd")

Enter a number : 4
number is even 4

In [32]:
num=int(input("Enter a number : "))
if num%2==0:
    print("number is even",num)
else:
    print("number is odd",num)

Enter a number : 5
number is odd 5

In [33]:
num=[1,2,3,4,5,6,7]

In [34]:
type(num)

list

In [35]:
for i in num:
    print(i)

1
2
3
4
5
6
7

In [40]:
for i in num:
    if i%2 == 0:
        print("number is even",i)
    else:
        print("number is odd",i)

number is odd 1
number is even 2
number is odd 3
number is even 4
number is odd 5
number is even 6
number is odd 7

In [42]:
numbers=[1,2,3,4,5,6,7,8,9,10]

In [43]:
for j in numbers:
    if j%2 == 0:
        print("number is even",j)
    else:
        print("number is odd",j)

number is odd 1
number is even 2
number is odd 3
number is even 4
number is odd 5
number is even 6
number is odd 7
number is even 8
number is odd 9
number is even 10